<% selected = false unless local_assigns.has_key? :selected %>

<tr data-member-id="<%= shop.id %>">
	<td>
		<label class="checkbox-inline">
			<input class="collection-methods" type="checkbox" name="shop[ids][]" id="shop_id_<%= shop.id %>" value="<%= shop.id %>" <%= 'checked' if selected %>>
		</label>
	</td>
  <td><%= shop.number_id %></td>
  <td><%= shop.user_name %></td>
  <td><%= shop.shed_title %></td>
  <td><%= shop.description %></td>
  <td>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, shop, class: 'btn btn-default' %>
      <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_shop_path(shop), class: 'btn btn-info' %>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, shop, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </td>
</tr>