<% content_for :extra_js do %>
	Utils.radios();
	var submitted = false;
	$('#new_contact').validate({
		submitHandler: function(form) {
			if (submitted) return;
			Utils.loader();
			var params = {};
			$(form).serializeArray().forEach(function(param) {
				if (param.name.match('contact')) {
					var name = param.name.replace(/contact|[\[\]]/g, '');
					params[name] = param.value;
				};
			});
			$.post('<%= ENV['api_url'] %>/contacts', params, 'json')
			.done(function(contact) {
				var response = 'Gracias por contactarte ' + contact.name + ', nos comunicaremos a la brevedad.';
				var form = document.getElementById('new_contact');
				Utils.insertFormResponse(form, response);
				Utils.notification('notice', 'Contacto enviado con exito.');
				Utils.loader().hide();
				submitted = true;
			})
			.fail(function() {
				var response = 'Ocurrió un error al envíar tu contacto, revisá los datos';
				Utils.insertFormResponse(document.getElementById('new_contact'), response, 2000);
				Utils.notification('notice', 'Revisá los datos.');
				Utils.loader().hide();
				console.info('Contact Error', arguments);
			})
			.always(console.log)
		},
		errorPlacement: function(error, element) {
			if (element.attr('type') == 'radio') error.appendTo(element.closest('div.radio'));
			else error.insertAfter(element);
		},
		rules: {
			'contact[tel]': {
				pattern: /^(?:[0-9\+\-\(\)\s]+)$/,
				minlength: 6,
				maxlength: 20
			}
		},
		messages: {
			'contact[tel]': {
				pattern: 'Ingresá un teléfono válido'
			}
		}
	});
<% end %>

<div class="pages-cover-home relative cover h-xs-640 h-md-700 pt-xs-70">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-6">
				<div class="pages-cover-home-caption">
					<%= image_tag 'saladaapp_pages_logo.png' %>
					<h1 class="pages-cover-caption-title">Todo lo que buscás en un lugar y al alcance de tu mano</h1>
					<p class="pages-cover-caption-text">LLegó <b>Salada</b>App, una App para recorrer la feria mas grande de latinoamérica</p>
					<div class="app-try-button">
						<%= link_to 'Probala grátis ahora', root_path + '#download', class: 'scroll-hash' %>
						<%# link_to '#' do %>
							<!--i class="fa fa-apple" aria-hidden="true"></i-->
						<%# end %>
						<%= link_to 'https://play.google.com/store/apps/details?id=com.ionicframework.saladaapp407126', target: '_blank' do %>
							<i class="fa fa-android" aria-hidden="true"></i>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<%= link_to root_path + '#benefits', class: 'round-btn scroll-hash' do %>
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		<% end %>
	</div>
</div>
<section class="relative" id="benefits">
	<div class="container">
		<h2 class="section-title">UN MUNDO DE BENEFICIOS EN TU SMARTPHONE</h2>
		<h3 class="section-subtitle">Comprar en La Salada ahora es facilísimo! Descubrí las ventajas de SaladaApp para encontrar todo lo que estás buscando.</h3>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-push-7 col-md-6 col-md-push-6">
				<%= image_tag 'cellphones.png', class: 'pull-right img-w-xs-100 img-w-sm-90 img-w-md-70' %>
			</div>
			<div class="col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6">
				<ul class="list-unstyled list-round-orange">
					<li>
						<div class="vertical-align">
							<div class="middle">
								<span class="icon-round-orange shop"></span>
							</div>
						</div>
						<div class="vertical-align">
							<div class="middle">
								Simplificá tus compras mediante reservas en los puestos a través de SaladaApp.
							</div>
						</div>
					</li>
					<li>
						<div class="vertical-align">
							<div class="middle">
								<span class="icon-round-orange search"></span>
							</div>
						</div>
						<div class="vertical-align">
							<div class="middle">
								Encontrá todo buscando como quieras: Por ofertas, por productos, por puestos, por galpón, por rubros o directamente por palabras claves.
							</div>
						</div>
					</li>
					<li>
						<div class="vertical-align">
							<div class="middle">
								<span class="icon-round-orange pointer"></span>
							</div>
						</div>
						<div class="vertical-align">
							<div class="middle">
								Guiate dentro de la feria siguiendo nuestro mapa online y enteráte de los horarios de las ferias.
							</div>
						</div>
					</li>
					<li>
						<div class="vertical-align">
							<div class="middle">
								<span class="icon-round-orange bubble"></span>
							</div>
						</div>
						<div class="vertical-align">
							<div class="middle">
								Comunicate con todos los usuarios de la app, sean comerciantes puesteros o visitantes compradores. 
							</div>
						</div>
					</li>
					<li>
						<div class="vertical-align">
							<div class="middle">
								<span class="icon-round-orange price-tag"></span>
							</div>
						</div>
						<div class="vertical-align">
							<div class="middle">
								Si sos comerciante, podés publicar ofertas, fotos de productos y actualizar toda la información de tu puesto en forma online en cualquier momento.
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<%= link_to root_path + '#packs', class: 'round-btn scroll-hash' do %>
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		<% end %>
	</div>
</section>
<section class="relative bg-light-grey" id="packs">
	<div class="container">
		<h2 class="section-title">Elegí tu perfíl</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="tilebox">
					<%= link_to packs_path(:visitante) do %>
						<%= image_tag 'tilebox-visitor.jpg', class: 'tilebox-image' %>
						<h4 class="tilebox-title">SOY <em>VISITANTE</em> EN LA FERIA Y VOY A COMPRAR</h4>
						<span class="tilebox-btn">Ver Perfil</span>
					<% end %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="tilebox">
					<%= link_to packs_path(:comerciante) do %>
						<%= image_tag 'tilebox-seller.jpg', class: 'tilebox-image' %>
						<h4 class="tilebox-title">SOY <em>COMERCIANTE</em> EN LA FERIA Y TENGO UN PUESTO O LOCAL</h4>
						<span class="tilebox-btn">Ver Perfil</span>
					<% end %>
				</div>
			</div>
		</div>
		<%= link_to root_path + '#contact', class: 'round-btn scroll-hash' do %>
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		<% end %>
	</div>
</section>
<section class="relative bg-orange" id="contact">
	<div class="container">
		<h2 class="section-title c-white mb-xs-40">Contacto</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<%= form_for Contact.new, remote: true, html: { class: 'form-lg trigger-loader' } do |f| %>
					<div class="form-group">
						<%= f.text_field :name, class: 'form-control', placeholder: 'Nombre y apellido', required: true %>
					</div>
					<div class="form-group">
						<%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
					</div>
					<div class="form-group">
						<%= f.text_field :tel, class: 'form-control', placeholder: 'Teléfono' %>
					</div>
					<div class="radio">
					  <label class="radio-inline">
					  	<%= f.radio_button :role, :seller, required: true, data: { msg: 'Elige una opción' } %> Soy comerciante
					  </label>
					  <label class="radio-inline">
					  	<%= f.radio_button :role, :client, required: true %> Soy visitante
					  </label>
					</div>
					<div class="form-group">
						<%= f.text_area :message, class: 'form-control', placeholder: 'Observaciones', rows: 4, required: true %>
					</div>
				  <div class="text-center mt-xs-20 mb-xs-20 mt-md-40 mb-md-40">
				  	<%= f.submit 'Enviar', class: 'btn btn-default' %>
				  </div>
				<% end %>
			</div>
		</div>
		<%= link_to root_path + '#download', class: 'round-btn scroll-hash' do %>
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		<% end %>
	</div>
</section>
<section class="relative bg-light-grey" id="download">
	<div class="container">
		<h2 class="section-title mb-xs-40">Descargar</h2>
		<div class="stores">
			<%= link_to 'https://play.google.com/store/apps/details?id=com.ionicframework.saladaapp407126', target: '_blank' do %>
				<%= image_tag 'store-android.png' %>
			<% end %>
			<%# link_to '#' do %>
				<%# image_tag 'store-ios.png' %>
			<%# end %>
		</div>
	</div>
</section>