<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :payable_id %><br>
    <%= f.text_field :payable_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_amount %><br>
    <%= f.text_field :transaction_amount %>
  </div>
  <div class="field">
    <%= f.label :mercadopago_preference %><br>
    <%= f.text_area :mercadopago_preference %>
  </div>
  <div class="field">
    <%= f.label :payment_info %><br>
    <%= f.text_area :payment_info %>
  </div>
  <div class="field">
    <%= f.label :init_point %><br>
    <%= f.text_field :init_point %>
  </div>
  <div class="field">
    <%= f.label :collection_id %><br>
    <%= f.number_field :collection_id %>
  </div>
  <div class="field">
    <%= f.label :collection_status %><br>
    <%= f.text_field :collection_status %>
  </div>
  <div class="field">
    <%= f.label :collection_status_detail %><br>
    <%= f.text_field :collection_status_detail %>
  </div>
  <div class="field">
    <%= f.label :preference_id %><br>
    <%= f.text_field :preference_id %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
