<% selected = false unless local_assigns.has_key? :selected %>

<tr data-member-id="<%= category.id %>">
	<td>
		<label class="checkbox-inline">
			<input class="collection-methods" type="checkbox" name="category[ids][]" id="category_id_<%= category.id %>" value="<%= category.id %>" <%= 'checked' if selected %>>
		</label>
	</td>
  <td><%= category.title %></td>
  <td>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, category, class: 'btn btn-default' %>
      <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_category_path(category), class: 'btn btn-info' %>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </td>
</tr>