<footer>
	<div class="container">
		<div class="brand">
			<%= link_to root_path do %>
				<%= image_tag 'saladaapp_pages_logo.png' %>
			<% end %>
		</div>
		<nav class="app-nav">
			<div class="vertical-align h-xs-40">
				<div class="middle">
					<%= render 'layouts/nav_pages_list' %>
				</div>
			</div>
		</nav>
		<div class="footer-legend">
			<p>
				<span>2017 - Salada App. Todos los derechos reservados.</span>
				Powered by
				<%= link_to 'http://vertigodesign.com.ar', target: '_blank' do %>
					<%= image_tag 'logo-vertigo.png' %>
				<% end %>
			</p>
		</div>
	</div>
</footer>