<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head prefix="og: http://ogp.me/ns#">
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application_pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation_pages_mobile' %>
	<%= render 'layouts/navigation_pages' %>
	<div class="pages-wrapper">
		<%= yield %>
		<%= render 'layouts/footer_pages' %>
	</div>
	<%= render 'partials/modal_login' %>
	<script>
		$(function() {
			<% if notice.present? %>
				Utils.notification('notice', '<%= notice.html_safe %>');
			<% end %>
			<% if alert.present? %>
				Utils.notification('alert', '<%= alert.html_safe %>');
			<% end %>
			<%= content_for :extra_js %>
		});
	</script>
</body>
</html>
