<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head prefix="og: http://ogp.me/ns#">
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application_policy', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application_policy', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="view-pages">
	<%= yield %>
</body>
</html>
